.pluggy-definitions li {
    margin-bottom: 5px;
}
.pluggy-bind {
    cursor: pointer;
    display: inline-block;
    border: 1px #ccc solid;
    border-radius: 3px;
    padding: 3px 6px;
}
.pluggy-option-label {
   margin-left: 8px;
}

.pluggy-timers {
    margin-top: 14px;
}

.timer-name {
    font-weight: bold;
    font-size: 1.2em;
}

.timer-info {
    margin-bottom: 5px;
}

.timer-methods {
    margin-bottom: 0;
}