<!DOCTYPE html>
<html>
    <head>
        <title>Pluggy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css/bootstrap.min.css') }}">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>

